EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_EAS_PROJECT_ID=6f95348d-9f04-436a-aaf8-f8f20f71d6d9
EXPO_PUBLIC_GITHUB_REPO_URL=https://github.com/vasilyoshev/mental-health
EXPO_PUBLIC_PUBLIC_APP_URL=
EXPO_PUBLIC_SUPPORT_EMAIL=
EXPO_PUBLIC_PRIVACY_EMAIL=
EXPO_PUBLIC_SECURITY_EMAIL=
