EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_EAS_PROJECT_ID=032dd368-6eae-4a70-bbe5-4ccef2fc06cb
EXPO_PUBLIC_GITHUB_REPO_URL=https://github.com/vasilyoshev/self-tend
EXPO_PUBLIC_PUBLIC_APP_URL=
EXPO_PUBLIC_SUPPORT_EMAIL=
EXPO_PUBLIC_PRIVACY_EMAIL=
EXPO_PUBLIC_SECURITY_EMAIL=
EXPO_PUBLIC_WEB_PUSH_VAPID_PUBLIC_KEY=
